<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:aop="http://www.springframework.org/schema/aop"
       xmlns:task="http://www.springframework.org/schema/task"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
       http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/task
        http://www.springframework.org/schema/task/spring-task-3.1.xsd
">

    <!--开启自动化扫描-->
    <context:component-scan base-package="com"></context:component-scan>
    <!--邮件发送器 透明创建java的发送邮件Mimemessage-->
    <bean id="mailsender" class="org.springframework.mail.javamail.JavaMailSenderImpl">
        <property name="host" value="smtp.163.com"></property>
        <property name="port" value="25"></property>
        <property name="defaultEncoding" value="UTF-8"></property>
        <property name="username" value="13896752412"></property>
        <property name="password" value="GMPJNZNUHNOWUEOQ"></property>
    </bean>
    <!--普通邮件对象-->
    <bean id="templatemessage" class="org.springframework.mail.SimpleMailMessage">
        <property name="from" value="13896752412@163.com"></property>
        <property name="subject" value="远方的sign"></property>
    </bean>
</beans>